{% extends 'base.html' %}



{% block content %}
{% load static %}
{% load mathfilters %}
<section id="medical-statistics">
    <div class="container">


        <div class="col-md-3">
            <div class="col-md-12 pad-md-0 box-shadow each-statistics-section">
                <div class="col-md-12 pad-md-0 text-center">
                    <i class="fa fa-medkit primary-color"></i>
                </div>
                <div class="col-md-12 pad-md-0 first-p-container text-center">
                    <p class="first-statistics-p">{{total_report}}</p>
                    <small>Total Medical Record</small>
                </div>
                <div class="col-md-12 pad-md-0 percentage-statistics text-center">
                    <p>100%</p>
                </div>
                <div class="col-md-12 pad-md-0 title-of-illness text-center statistic-bg-green">
                    <p>Total Medical Record</p>
                </div>
            </div>
        </div>

    {% for statistic in statistics %} 
        <div class="col-md-3">
            <div class="col-md-12 pad-md-0 box-shadow each-statistics-section">
                <div class="col-md-12 pad-md-0 text-center">
                    {% if forloop.counter|divisibleby:2 %}
                        <i class="fa fa-medkit primary-color"></i>
                    {% else %}
                    <i class="fa fa-medkit secondary-color"></i>
                    {% endif %}                    
                </div>

                <div class="col-md-12 pad-md-0 first-p-container text-center">
                    <p class="first-statistics-p">{{statistic.1}}</p>
                    <small>{{statistic.0.0|title }}</small>
                </div>
                <div class="col-md-12 pad-md-0 percentage-statistics text-center">
                    <p>
                        {% with numerator=statistic.1 denominator=total_report %}
                            {{ numerator|div:denominator|floatformat:'2' }}%
                        {% endwith %}
                    </p>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-md-12 pad-md-0 title-of-illness text-center statistic-bg-green">
                        <p>{{statistic.0.0|title}}</p>
                    </div>
                {% else %}
                    <div class="col-md-12 pad-md-0 title-of-illness text-center statistic-bg-blue">
                        <p>{{statistic.0.0|title}}</p>
                    </div>
                {% endif %}  
                
            </div>
        </div>

    {% endfor %}

        

    </div>
</section>


{% endblock %}