{% extends 'base.html' %}



{% block content %}
{% load static %}

<section>
<div class="container my-medical-report pad-md-0">
    {% if messages %}
        <div class="messages col-md-12">
            <div class="col-md-6 center-block">
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible" role="alert" {% endif%}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if message.tags == 'error' %}
                        <strong>Whoops! &nbsp; </strong> {{ message }}.
                    {% else %}
                        <strong>Congratulations! &nbsp; </strong> {{ message }}.
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <table class="table table-hover add-border">
        <thead>
            <tr>
                <th scope="col">s/n</th>
                <th scope="col">Nationality</th>
                <th scope="col">Gender</th>
                <th scope="col">Telephone</th>
                <th scope="col">Occupation</th>
                <th scope="col">Medical Condition</th>
                <th scope="col">Weight</th>
                <th scope="col">Added On</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for report in my_medical_report %}
                    <tr class="table-active" id="{{report.id}}">            
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{report.nationality|capfirst}}</td>
                    <td>
                        {% if report.gender == "m" %}
                            Male
                        {% elif report.gender == "f" %}
                            Female
                        {% else %}
                            Others
                        {% endif %}
                    <td>{{report.telephone}}</td>
                    <td>{{report.occupation|capfirst}}</td>
                    <td>{{report.medical_condition|title}}</td>
                    <td>{{report.weight}}</td>
                    <td>{{report.date_added}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" title="Edit Report" style="color: #fff;"><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                        <a class="btn btn-sm btn-danger" title="Delete Report" style="color: #fff;"><i class="fas fa-times"></i> </a> 
                        {% comment %} <a class="btn btn-sm btn-danger" title="Delete Report" href="javascript:{document.getElementById('js-delete-report').submit()}" onClick="" style="color: #fff;"><i class="fas fa-times"></i> </a>  {% endcomment %}

                        <form id="js-delete-report" method="POST" action="#">
                            {% csrf_token %}
                            <input type="hidden" id="js-delete-value" value="{{report.id}}">
                        </form>
                    </td>
                </tr>
                {% empty %}
                    <tr class="table-active">
                        <td colspan="9" class="text-center">Sorry, you have no medical record yet.</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</section>


{% endblock %}