{% extends 'base.html' %}



{% block content %}
{% load static %}

    <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse quod 
    vitae numquam assumenda ipsam nisi at iusto! Possimus a ipsa deleniti officia 
    omnis corrupti eveniet quas cum ex est?
    </h1>

    <div class="col-md-4">
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse quod
            vitae numquam assumenda ipsam nisi at iusto! Possimus a ipsa deleniti officia
            omnis corrupti eveniet quas cum ex est? <i class="fas fa-home"></i>
        </h1>
    </div>
    <div class="col-md-4">
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse quod
            vitae numquam assumenda ipsam nisi at iusto! Possimus a ipsa deleniti officia
            omnis corrupti eveniet quas cum ex est? <i class="fas fa-ad"></i>
        </h1>
    </div>
    <div class="col-md-4">
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit esse quod
            vitae numquam assumenda ipsam nisi at iusto! Possimus a ipsa deleniti officia
            omnis corrupti eveniet quas cum ex est?
        </h1>
    </div>


{% endblock %}  